.other-content.mercedes-daimlercac-regular-font
    h4.mercedes-corporateacon-reg-font Cookies
    section
        .desc
            span Daimler uses cookies to record the preferences of visitors, to enable us to optimize the design of our web site. Cookies are small files which are stored on your hard drive. They ease navigation, and increase the user-friendliness of a web site. Cookies also help us to identify the most popular sections of our web site. This enables us to provide content that is more accurately suited to your needs, and in so doing improve our service. Cookies can be used to determine whether there has been any contact between us and your computer in the past. Only the cookie on your computer is identified. Personal details can be saved in cookies, provided that you have consented to this, for example, in order to facilitate secure online access so that you not need to enter your user ID and password again.
            br
            br
            span Most browsers automatically accept cookies. You can prevent cookies from being stored on your hard drive by setting your browser to not accept cookies. The exact instructions for this can be found in the manual for your browser. You can delete cookies already on your hard drive at any time. If you choose not to accept cookies, you can still visit our website, however this may result in a reduced availability of the services provided by our web site.
    section
        .title
            span Return to Startpage:
        .desc
            span Mercedes-Benz Singapore