.other-content.mercedes-daimlercac-regular-font
    h4.mercedes-corporateacon-reg-font Legal notices
    section
        .title Copyrights
        .desc
            span Copyright 2017 Daimler AG. All Rights Reserved. The text, images, graphics, sound files, animation files, video files and their arrangement on Daimler Internet sites are all subject to Copyright and other intellectual property protection. These objects may not be copied for commercial use or distribution, nor may these objects be modified or reposted to other sites. Some Daimler Internet sites also contain material that is subject to the copyright rights of their providers.
    section
        .title
            span Product variations
        .desc
            span Some of the product information, illustrations and images contained on this Internet site may have been prepared for generic use on Daimler Internet sites maintained in different countries around the world. Consequently, some of the information and/or accessories which are not available in some countries or which, in order to satisfy local market demand or regulatory controls in such countries, may only be available in different specifications or configurations.
            br
            br
            span If you are interested in any vehicle model, paint, option or accessory shown on the Internet site and are unsure of its availability or specification in your locality, you should contact Daimler and/or a local authorized dealer for the relevant product, for information of current details in your locality.
    section
        .title
            span Prices
        .desc
            span All prices specified are recommended retail prices. Prices are current at the time of publication and subject to change without notice.
    section
        .title 
            span Trademarks
        .desc
            span Unless otherwise indicated, all marks displayed on Daimler Internet sites are subject to the trademark rights of Daimler, this applies especially to its model name plates, and its corporate logos and emblems.
    section
        .title
            span No Licenses
        .desc
            span Daimler has thought to achieve an innovative and informative Internet site. We hope that you will be as enthusiastic as we are about this creative effort. However, you also need to understand that Daimler must protect their Intellectual Property, including their patents, trademarks and copyrights. Accordingly, you are hereby on notice that neither this Internet site, nor any material contained therein shall in any way grant or be taken to grant any person a license to Daimler’s Intellectual Property..
    section
        .title
            span Cautions regarding forward-looking statements
        .desc
            span Internet pages, investor relations releases, annual and interim reports, outlooks, presentations, audio and video files of events (live or recorded) and other documents on this website contain among other things forwardlooking statements that reflect management´s current views with respect to future events. The words „anticipate,“ „assume,“ „believe,“ „estimate,“ „expect,“ „intend,“ „may,“ „plan,“ „project“ and „should“ and similar expressions identify forward-looking statements. Such statements are subject to risks and uncertainties, including, but not limited to: an economic downturn in Europe or North America; changes in currency exchange rates, interest rates and in raw material prices; introduction of competing products; increased sales incentives; the successful implementation of the new business model for smart; and decline in resale prices of used vehicles. If any of these or other risks and uncertainties occur (some of which are described under the heading "Risk Report" in Daimler´s most recent Annual Report and under the heading "Risk Factors" in Daimler’s most recent Annual Report on Form 20-F filed with the Securities and Exchange Commission), or if the assumptions underlying any of these statements prove incorrect, then actual results may be materially different from those expressed or implied by such statements. We do not intend or assume any obligation to update any forward-looking statement, which speaks only as of the date on which it is made.
    section
        .title
            span No warranties or representations
        .desc
            span The information on this Internet site is provided by Daimler "as is" and to the extent permitted by law, is provided without warranty of any kind, expressed or implied, including but not limited to any implied warranties of merchantability, fitness for any particular purpose, or non infringement. While the information provided is believed to be accurate, it may include errors or inaccuracies.
            br
            br
            span This Internet site contains links to external sites, which are not under the control of Daimler. Therefore we are not responsible for the contents of any linked site. Daimler is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Daimler of the linked site.
    section
        .title
            span Return to Startpage:
        .desc
            span Mercedes-Benz Singapore