.thank-content
    section
        .background-img
            .holder-img
                img(src="./images/thankyou.png", title="thank you", alt="thank you")
            
            .message
                span Thank you.
                br
                span We will be in contact with you shortly.

    section
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.row-no-padding.btn-group
            a(href="index.html", title="Return to site", alt="Return to site")
                button.cta-btn(title='Return to site', alt="Return to site")
                    p Return to site
                        i.icon.chevron-left