head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    meta(name="robots" content="index, follow")
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name="author" content="")
    meta(name="google-site-verification" content="")
    link(rel="shortcut icon" type="image/png" href="images/favicon-192x192.png")
    link(rel="shortcut icon" type="image/png" href="images/favicon-160x160.png")
    link(rel="shortcut icon" type="image/png" href="images/favicon-96x96.png")
    link(rel="shortcut icon" type="image/png" href="images/favicon-32x32.png")
    link(rel="shortcut icon" type="image/png" href="images/favicon-16x16.png")
    link(rel="stylesheet" href="./vendors/package.min.css") 
    link(rel="stylesheet" href="./css/style.min.css") 
    <!--[if IE]><style type="text/css"> .checkbox { margin-top: 7px; } .checkbox label { line-height: 13px; } </style><![endif]-->