doctype html

html(lang="en" class="no-js")

	include head
	
	body(class="contact-page mercedes-daimlercs-demi-font" data-page="contact-page")

		div(class="container")
			div(class="row" data-name="header")
				div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
			div(class="row" data-name="container")
				div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
					include ../Others/legal
			div(class="row" data-name="footer")
				div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
		div(id="back-top" class="back-top js-back-top")
		div(id="overlay" class="overlay js-overlay")
		script(type="text/javascript" src="./vendors/package.min.js")
		script(type="text/javascript" src="./js/bundle.min.js")

		