.tab-content
  // CORPORATE
  .tab-pane.fade.active.in(role='tabpanel', id='corporate')
    // Header
    .corp-header
      .header-background
        .header-placeholder
          img(src="./images/Daimler_CPh2016_110.jpg", alt="Driving Your Business Forward", title="Driving Your Business Forward")
          .shadow
          .header-content
            h2 Driving Your Business Forward
            h3 
              | Explore our range of 
              span.highlight fleet 
              | solutions today
              
    // Service Content
    .corp-content-wrapper
      // Service
      .content
        .row
          .col-xs-12.col-sm-12.col-md-4.content-text-wrapper
            .content-text
              .row
                .col-xs-12.col-sm-6.col-md-12
                  .title Service Excellence
                  .sub-title
                    .desktop
                      | Focus on your core business operations and
                      br
                      | leave management of your fleet to us.
                    .tablet
                      | Focus on your core business
                      br
                      | operations and leave management
                      br
                      | of your fleet to us.
                    .mobile
                      | Focus on your core business operations and leave management of your fleet to us.
                .col-xs-12.col-sm-6.col-md-12
                  .service-list
                    .service
                      img(src='./images/icon/icon-key-account-management.svg', alt='Key account management', title='Key account management')
                      p.service-text Key account management
                    .service
                      img(src='./images/icon/icon-bespoke.svg', alt='Bespoke mobility solutions', title='Bespoke mobility solutions')
                      p.service-text Bespoke mobility solutions
                    .service
                      img(src='./images/icon/icon-servicing.svg', alt='Fleet servicing and maintenance', title='Fleet servicing and maintenance')
                      p.service-text.desktop Fleet servicing and maintenance
                      p.service-text.tablet Fleet servicing and 
                        br
                        | maintenance
                      p.service-text.mobile Fleet servicing and maintenance
          .col-xs-12.col-sm-12.col-md-8.content-img-wrapper
            .content-img
              .content-img-placeholder
                img.img1(src='./images/Daimler_CPh2016_152_PPT.jpg', alt='Service Excellence', title='Service Excellence')
      // End of service
      // Zero Downtime
      .content
        .row
          .col-xs-12.col-sm-12.col-md-4.col-md-push-8.push.content-text-wrapper
            .content-text
              .row
                .col-xs-12.col-sm-6.col-md-12
                  .title Zero Downtime
                  .sub-title
                    .desktop
                      | Maximise fleet utilization with around-the-
                      br
                      | clock support and assistance.
                    .tablet
                      | Maximise fleet utilization with
                      br
                      | around-the-clock support and
                      br
                      | assistance.
                    .mobile
                      | Maximise fleet utilization with around-the-clock support and assistance.
                .col-xs-12.col-sm-6.col-md-12
                  .service-list
                    .service
                      img.left2(src='./images/icon/icon-vehicle-pickup-replcement.svg', alt='Vehicle pick-up and replacement', title='Vehicle pick-up and replacement')
                      p.service-text Vehicle pick-up and replacement
                    .service
                      img.left2(src='./images/icon/icon-support-24.svg', alt='24/7 customer support', title='24/7 customer support')
                      p.service-text 24/7 customer support
                    .service
                      img(src='./images/icon/icon-replacement-vehicle.svg', alt='24-hr roadside assistance', title='24-hr roadside assistance')
                      p.service-text 24-hr roadside assistance
          .col-xs-12.col-sm-12.col-md-8.col-md-pull-4.pull.content-img-wrapper
            .content-img
              .content-img-placeholder
                img.img2(src='./images/Daimler_CPh2016_151_PPT.jpg', alt='Zero Downtime', title='Zero Downtime')
      // End Zero Downtime
      // Transparency
      .content
        .row
          .col-xs-12.col-sm-12.col-md-4.content-text-wrapper
            .content-text
              .row
                .col-xs-12.col-sm-6.col-md-12
                  .title Transparency and Predictability
                  .sub-title
                    .desktop
                      | One pre-determined vehicle usage cost and low 
                      br
                      | running costs for the duration of the lease term.
                    .tablet
                      | One pre-determined vehicle usage
                      br
                      | cost and low running costs for the
                      br
                      | duration of the lease term.
                    .mobile
                      | One pre-determined vehicle usage cost and low running costs for the duration of the lease term.
                .col-xs-12.col-sm-6.col-md-12
                  .service-list
                    .service
                      img(src='./images/icon/icon-off-balance-sheet.svg', alt='Off balance-sheet', title='Off balance-sheet')
                      p.service-text Off balance-sheet 
                    .service
                      img(src='./images/icon/icon-zero-depreciation.svg', alt='Zero depreciation', title='Zero depreciation')
                      p.service-text Zero depreciation
                    .service
                      img(src='./images/icon/icon-low-running-costs.svg', alt='Predictable and low running cost ', title='Predictable and low running cost ')
                      p.service-text.desktop Predictable and 
                        br
                        | low running cost
                      p.service-text.tablet Predictable and 
                        br
                        | low running cost
                      p.service-text.mobile Predictable and low running cost
          .col-xs-12.col-sm-12.col-md-8.content-img-wrapper
            .content-img
              .content-img-placeholder
                img.img3(src='./images/Daimler_CPh2016_103.jpg', alt='Transparency and Predictability', title='Transparency and Predictability')
              .bottom-gradient
      // End Transparency
      // Table options - corporation
      .content
        .row
          .col-xs-12.col-sm-12.col-md-12.options
            .content-text
              .row
                .col-xs-12.col-sm-12.col-md-12
                  .title.center Choose From One of Two Options
          .col-xs-12.col-sm-12.col-md-12.option-table
            table.table.table-responsive.table-bordered
              thead
                tr
                  th.first Benefits
                  th.second Mercedes-Benz GO
                  th.third Meredes-Benz GO+
              tbody
                tr.odd
                  td 0% downpayment
                  td
                    .checked
                  td
                    .checked
                tr.even
                  td Predictable and low monthly payments
                  td
                    .checked
                  td
                    .checked
                tr.odd
                  td Comprehensive motor insurance
                  td
                    .checked
                  td
                    .checked
                tr.even
                  td Road Tax and GST included
                  td
                    .checked
                  td
                    .checked
                tr.odd
                  td Mercedes-Benz replacement vehicle
                  td
                  td
                    .checked
                tr.even
                  td Concierge service
                  td
                  td
                    .checked
                tr.odd
                  td Servicing and maintenance
                  td
                  td
                    .checked
      // End table options - corporation

      .cta-content-bottom
        .background-img
          img(src='./images/Daimler_CPh2016_121.jpg', alt='Tell us where you want to go. We’ll plan how you get there safely.', title='Tell us where you want to go. We’ll plan how you get there safely.')
        .top-shadow
        .bottom-shadow
        .cta-content
          p.desktop
            | Tell us where you want to go.
            br
            | We’ll plan how you get there safely.
          p.tablet
            | Tell us where you want to go.
            br
            | We’ll plan how you get there safely.
          p.mobile
            | Tell us where you want to go.
            br
            | We’ll plan how you get there safely.
          a(href="/request.html")
            button.cta-btn(title='Request for callback')
              p Request for callback
                i.icon.chevron-left
