.tab-content
  // INDIVIDUAL
  .tab-pane.individual.fade.active.in(role='tabpanel', id='individual')
    // Header
    .corp-header
      .header-background
        .header-placeholder
          img(src="./images/Caucasian_PC_2016_032.jpg", alt="You Choose. We Deliver.", title="You Choose. We Deliver.")
          .shadow
          .header-content
            h2 Live Your Dreams The Smart Way
            h3 
              | Explore the possibilities with 
              span.highlight Mercedes-Benz GO 
              | today
              
    // Service Content
    .corp-content-wrapper
      // Peace of Mind
      .content
        .row
          .col-xs-12.col-sm-12.col-md-4.content-text-wrapper
            .content-text
              .row
                .col-xs-12.col-sm-6.col-md-12
                  .title Peace of Mind
                  .sub-title
                    .desktop
                      | Within one all-encompassing monthly fee,
                      br
                      | we take care of everything for you.
                    .tablet
                      | Within one all-encompassing monthly fee,
                      br
                      | we take care of everything for you.
                    .mobile
                      | Within one all-encompassing monthly fee, we take care of everything for you.
                .col-xs-12.col-sm-6.col-md-12
                  .service-list
                    .service
                      img(src='./images/icon/icon-comprehensive.svg', alt='Comprehensive motor insurance', title='Comprehensive motor insurance')
                      p.service-text
                        span.desktop
                          | Comprehensive
                          br 
                          |  motor insurance
                        span.tablet
                          | Comprehensive motor
                          br 
                          | insurance
                        span.mobile Comprehensive motor insurance
                    .service
                      img(src='./images/icon/icon-depreciation-risk.svg', alt='No depreciation/COE risk', title='No depreciation/COE risk')
                      p.service-text No depreciation/COE risk
                    .service
                      img(src='./images/icon/icon-low-monthly-payments.svg', alt='Predictable and low monthly payments', title='Predictable and low monthly payments')
                      p.service-text Predictable and low 
                        br
                        | monthly payments
          .col-xs-12.col-sm-12.col-md-8.content-img-wrapper
            .content-img
              .content-img-placeholder
                img.img4.zoom-large(src='./images/Caucasian_PC_2016_041.jpg', alt='Peace of Mind', title='Peace of Mind')
      // End of Peace of Mind
      // Freedom of Choice
      .content
        .row
          .col-xs-12.col-sm-12.col-md-4.col-md-push-8.push.content-text-wrapper.freedom-of-choice
            .content-text
              .row
                .col-xs-12.col-sm-6.col-md-12
                  .title Freedom of Choice
                  .sub-title
                    .desktop
                      | You are in control of what you drive 
                      br
                      | and for how long.
                    .tablet
                      | You are in control of what you drive 
                      br
                      | and for how long.
                    .mobile
                      | You are in control of what you drive and for how long.
                .col-xs-12.col-sm-6.col-md-12
                  .service-list
                    .service
                      img.left2(src='./images/icon/icon-lease-extension.svg', alt='Extend your lease or upgrade to a new model', title='Extend your lease or upgrade to a new model')
                      p.service-text
                        span.mobile Extend your lease or upgrade to a new model
                        span.desktop Extend your lease or upgrade
                          br
                          | to a new model
                        span.tablet Extend your lease or upgrade
                          br
                          | to a new model
                    .service.custom-package
                      img(src='./images/icon/icon-customised-options.svg', alt='Customised package offering', title='Customised package offering')
                      p.service-text
                        span.mobile Customised package offering
                        span.desktop Customised package offering
                        span.tablet Customised package offering
                    ul.package-list
                      li
                        span Concierge service
                      li
                        span Guaranteed Mercedes-Benz replacement vehicle
                      li
                        span Free servicing & maintenance
          .col-xs-12.col-sm-12.col-md-8.col-md-pull-4.pull.content-img-wrapper
            .content-img
              .content-img-placeholder
                img.img5(src='./images/Chinese_PC_2016_029.jpg', alt='Freedom of Choice', title='Freedom of Choice')
      // End Freedom of Choice
      // Smart Mobility
      .content
        .row
          .col-xs-12.col-sm-12.col-md-4.content-text-wrapper
            .content-text
              .row
                .col-xs-12.col-sm-6.col-md-12
                  .title Smart Mobility
                  .sub-title
                    .desktop
                      | With our secure and smart end-to-end
                      br
                      |  solution, our priority is to keep you on
                      br
                      | the road.
                    .tablet
                      | With our secure and smart end-to-end
                      br
                      | solution, our priority is to keep you on
                      br
                      | the road.
                    .mobile
                      | With our secure and smart end-to-end solution, our priority is to keep you on the road.
                .col-xs-12.col-sm-6.col-md-12
                  .service-list
                    .service
                      img(src='./images/icon/icon-pay-per-use.svg', alt='Only pay for what you use', title='Only pay for what you use')
                      p.service-text
                        span.mobile Only pay for what you use
                        span.desktop
                         | Only pay for what you use
                        span.tablet 
                          | Only pay for what you use
                    .service
                      img(src='./images/icon/icon-zero-downpayment.svg', alt='Zero % downpayment', title='Zero % downpayment')
                      p.service-text
                        span.mobile Zero % downpayment
                        span.desktop
                          | Zero % downpayment
                        span.tablet
                          | Zero % downpayment
                    .service
                      img(src='./images/icon/icon-unlimited-milage-update.svg', alt='Unlimited mileage', title='Unlimited mileage')
                      p.service-text
                        span.mobile Unlimited mileage
                        span.desktop
                          | Unlimited mileage
                        span.tablet
                          | Unlimited mileage
          .col-xs-12.col-sm-12.col-md-8.content-img-wrapper
            .content-img
              .content-img-placeholder
                img.img6(src='./images/Chinese_PC_2016_019.jpg', alt='Smart Mobility', title='Smart Mobility')
              .bottom-gradient
      // End Smart Mobility
      // Table options - individual
      .content
        .row
          .col-xs-12.col-sm-12.col-md-12.options
            .content-text
              .row
                .col-xs-12.col-sm-12.col-md-12
                  .title.center Choose From One of Two Options
          .col-xs-12.col-sm-12.col-md-12.option-table
            table.table.table-responsive.table-bordered
              thead
                tr
                  th.first Benefits
                  th.second Mercedes-Benz GO
                  th.third Meredes-Benz GO+
              tbody
                tr.odd
                  td 0% downpayment
                  td
                    .checked
                  td
                    .checked
                tr.even
                  td Predictable and low monthly payments
                  td
                    .checked
                  td
                    .checked
                tr.odd
                  td Comprehensive motor insurance
                  td
                    .checked
                  td
                    .checked
                tr.even
                  td Road Tax and GST included
                  td
                    .checked
                  td
                    .checked
                tr.odd
                  td Mercedes-Benz replacement vehicle
                  td
                  td
                    .checked
                tr.even
                  td Concierge service
                  td
                  td
                    .checked
                tr.odd
                  td Servicing and maintenance
                  td
                  td
                    .checked

      // End table options
      .cta-content-bottom
        .background-img
          img(src='./images/Eclass.jpg', alt='With 0% downpayment, experience the luxury of a Mercedes-Benz.', title='With 0% downpayment, experience the luxury of a Mercedes-Benz.')
        .top-shadow
        .bottom-shadow
        .cta-content
          p 
            | With 0% downpayment,
            br
            | experience the luxury of a Mercedes-Benz.
          a(href="/request.html")
            button.cta-btn(title='Estimate Payment')
              p Estimate Payment
                i.icon.chevron-left
