nav.navbar.page-nav.secondary
	.container-fluid
		.navbar-header
			a.navbar-brand(href='/index.html')
				img(src="./images/mer-logo-3x.png", alt="Mercedes-Benz", title="Mercedes-Benz")
			.navbar-logo-text