.form-footer.mercedes-daimlercac-regular-font
    .preferent-link
        span
            a(href="legal.html", target="_blank", title="Legal Notice") Legal Notice
            span.device |
        span
            a(href="cookies.html", target="_blank", title="Cookies") Cookies
            span.device |
        span
            a(href="privacy.html", target="_blank", title="Privacy Statement") Privacy Statement
    .lisence
        span © 2017 Mercedes-Benz Financial Services Singapore
