footer.page-footer
	.footer-icon
		.footer-item
			a(href="https://www.facebook.com/mbfssg/?ref=br_rs", target='_blank')
				img(src="./images/icon/icon-facebook.svg", alt="Facebook", title="Facebook")
		.footer-item
			a(href="https://www.linkedin.com/company/13360630/", target='_blank')
				img(src="./images/icon/icon-invision.svg", alt="LinkedIn", title="LinkedIn")
	.footer-content
		p
			| © 2017 Daimler Fleet Management Singapore. 
			br.mobile-portrait
			| All Rights Reserved. | 
			a(href="legal.html", title='Legal Notice', target='_blank') Legal Notice 
			| | 
			a(href='https://www.mbfs.com.sg/calculator/disclaimer.html', target='_blank', title='Disclaimer') Disclaimer