footer {
    position: relative
}
.form-footer {
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 35px;
    margin-bottom: 30px;
    font-size: 9px;
    .preferent-link {
        margin-bottom: 3px;
        a {
            color: #ffffff;
            text-decoration: underline;
        }
        span.device {
            padding-left: 3px;
            padding-right: 3px;
        }
    }
}
